root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

[*.{c,h,txt,cmake}]
indent_size = 4

[configure.ac]
indent_size = 4

[*.{md,yml}]
indent_size = 2

[{Makefile.am,*.mk}]
indent_style = tab
