**/*.exe
**/*.o
**/.deps
**/Makefile
**/Makefile.in
/.dirstamp
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/mkinstalldirs
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.pot
/po/*.sed
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/stamp-it
/src/rifiuti
/src/rifiuti-vista
/stamp-h1
/test/atconfig
/test/atlocal
/test/package.m4
/test/testsuite
/test/testsuite.dir
/test/testsuite.log
