---
layout: default
title: 'Tag Index'
requirejs:
  mods:
    - tagpage
---

{% include header.html type="page" %}

<div class="container" role="main">
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

{%- assign tag_list = '' | split: '' -%}
{%- for t in site.tags -%}
{%- assign tag_list = tag_list | push: t.first -%}
{%- endfor -%}
{%- assign tag_list = tag_list | sort %}

<div id="usage-hints" class="alert alert-info alert-dismissible hidden fade in" role="alert">
	Please click on each tag to show posts associated with it.
	<button type="button" class="close" data-dismiss="alert" data-target="#usage-hints" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

{% if site.tags.size > 0 -%}
<ul id="tag-list">
{%- for tag in tag_list -%}
	{%- assign tag_id = tag | slugify %}
	<li><a href="#{{ tag_id }}" data-tag-id="{{ tag_id }}" class="btn btn-primary btn-tag" role="button">
		<div class="btn-tag-text">{{ tag }}</div>
		<span class="badge">{{site.tags[tag].size}}</span>
		<span class="sr-only">posts</span>
	</a></li>
{% endfor -%}
</ul>

{%- for tag in tag_list -%}
{%- assign tag_id = tag | slugify %}
<div id="{{ tag_id }}" class="post-list">
	<h2>{{ tag }}</h2>
	<ul>
	{%- for post in site.tags[tag] -%}
		<li>
			<a href="{{ post.url | relative_url }}">{{ post.title }}</a>
			{%- include post-meta.html post=post style=timeonly -%}
		</li>
	{%- endfor -%}
	</ul>
	</div>
{% endfor -%}

{%- else -%}
<h2>No tags available on this site.</h2>
{%- endif -%}

</div></div></div>
