/* --- global layout customizations --- */

.main-content {
	hyphens: auto;
	text-align: justify;
}

pre, code, samp, kbd {
	hyphens: manual;
}

// hardcoded bootstrap code style not matching with theme
code {
	padding: 2px;
	color: inherit;
	background-color: rgba(black,0.03);
}

a code { color: $link-col }

// reduce list indent for mobile
@media only screen and (max-width: $screen-xs-max) {
	ul, ol { padding-inline-start: 1em }
}

/* --- landing page widgets and buttons --- */

// jumbotron style tries to match with navbar for now
.jumbotron {
	background-color: $navbar-col;
	font-family: $font-family-ui;
	box-shadow: 1px 1px 2px 2px rgba(black,0.3);
	// flat design on mobile
	@media only screen and (max-width: $screen-sm-min - 1) {
		border: 1px solid scale-color($color: $navbar-col, $lightness: -5%);
		box-shadow: none;
		border-radius: 0;
	}
}

.btn-download {
	display: flex;
	max-width: 12em;
	justify-content: space-around;
	align-items: center;
	@media only screen and (max-width: $screen-xs-min - 1) {
		flex-wrap: wrap;
	}
	> * {
		flex: 0 1 auto;
		display: inline-block;
		@media only screen and (max-width: $screen-xs-min - 1) {
			margin-top: $padding-base-vertical;
			margin-bottom: $padding-base-vertical;
		}
	}
	> div {
		font-weight: $font-weight-ui;
		text-shadow: 1px 1px 2px black;
	}
	+ p {
		margin-bottom: 0;
	}
}

// translucent header
@media only screen and (min-width: $screen-sm-min) {
	.navbar-custom.top-nav-short {
		opacity: 0.9;
	}
}

a.link-icon::after {
	@include fas-solid(null, 0.3em);
	vertical-align: 1px;
}

a.link-external::after {
	font-size: 0.75em;
	content: "\f35d";
}

@each $type, $char in (
	pdf : "\f1c1",
	docx: "\f1c2",
	xlsx: "\f1c3",
	zip : "\f1c6",
	xz  : "\f1c6",
) {
	a.link-#{$type}::after { content: "#{$char}" }
}

// Note: this must match smooth scroll JS setting
$scroll-offset: $navbar-height + 10px;

:target:not(.carousel) {
	background-clip: content-box;
	margin-top: (- $scroll-offset);
	padding-top: $scroll-offset;
}

.carousel-caption {
	font-family: $font-family-ui;
	background-color: rgba(black,60%);
	border-radius: $border-radius-large;
}

$carousel-control-size: 50px;

%carousel-control-icon {
	width: $carousel-control-size;
	height: $carousel-control-size;
	font-size: $carousel-control-size;
	top: calc(50% - #{$carousel-control-size / 2});
	margin-top: 0;
}

.carousel-control {
	.icon-prev {
		@extend %carousel-control-icon;
		&::before {
			@include fas-solid("\f053");
		}
	}
	.icon-next {
		@extend %carousel-control-icon;
		&::before {
			@include fas-solid("\f054");
		}
	}
}

