footer .copyright::before {
	content: "\A9";
	padding-right: 0.3em;
}

.main-content {
  hyphens: auto;
  text-align: justify;
}

pre, code, samp, kbd {
	hyphens: manual;
}

.jumbotron {
	background-color: $navbar-col;
	font-family: $font-family-ui;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
}

// front page buttons
.btn-download {
	display: flex;
	max-width: 12em;
	justify-content: space-around;
	align-items: center;
	@media only screen and (max-width: $screen-xs-min - 1) {
		flex-wrap: wrap;
	}
	> * {
		flex: 0;
		display: inline-block;
		@media only screen and (max-width: $screen-xs-min - 1) {
			margin-top: $padding-base-vertical;
			margin-bottom: $padding-base-vertical;
		}
	}
	> div {
		font-weight: $font-weight-ui;
		text-shadow: 1px 1px 2px black;
	}
	+ p {
		margin-bottom: unset;
	}
}

// apply text align class on table to align everything in table globally
@each $dir in (left,right,center) {
	.text-#{$dir} td,
	.text-#{$dir} th,
	.text-#{$dir} > caption { text-align: $dir }
}

.table > caption { caption-side: bottom }

/* translucent header */
@media only screen and (min-width: $screen-sm-min) {
	.navbar-custom.top-nav-short {
		opacity: 0.9;
	}
}

// reduce list indent for mobile
@media only screen and (max-width: $screen-xs-max) {
	ul, ol { padding-inline-start: 1em }
}

a.link-icon::after {
	@include fas-solid(null, 0.3em);
	vertical-align: 1px;
}

a.link-external::after {
	font-size: 0.75em;
	content: "\f35d";
}

@each $type, $char in (
	pdf : "\f1c1",
	docx: "\f1c2",
	xlsx: "\f1c3",
	zip : "\f1c6",
	xz  : "\f1c6",
) {
	a.link-#{$type}::after { content: "#{$char}" }
}

code {
	padding: 2px;
	color: #000;
	background-color: rgba(0,0,0,0.03);
}

a code { color: $link-col }

