// Some basic site style customization variables
// Check out /_sass/bootstrap/_variables.scss for usable variables

// Color settings
$text-col           : $gray-dark;
$navbar-text-col    : $text-col;
$footer-text-col    : $text-col;

$page-col           : #ECF6FF;
$navbar-col         : #E0F0FF;
$navbar-children-col: #D0E8FF;
$link-col           : #3A3CB7;
$hover-col          : scale-color($color: $link-col, $lightness: 20%);
$footer-col         : $navbar-col;
$footer-link-col    : $link-col;

// Default font
$font-family-ui: "Open Sans", $font-family-sans-serif;
$font-weight-ui: 800;
$font-family-content: Lora, $font-family-serif;
$font-weight-content: normal;

// Background images
// Paths are relative to the main CSS file (/assets/css/main.css)
// Unfortunately liquid tag can't be used here, therefore
// absolute link wouldn't work for Github project pages

// $page-img: "../img/bgimage.png"; // i.e. /assets/img/bgimage.png
// $navbar-img: "../img/bgimage.png";
$footer-img: "../img/footer-hex.png";
