// Color settings
$text-col           : #444;
$navbar-col         : #E0F0FF;
$navbar-text-col    : $text-col;
$navbar-children-col: #D0E8FF;
$page-col           : #ECF6FF;
$link-col           : #3A3CB7;
$hover-col          : scale-color($color: $link-col, $lightness: 20%);
$footer-col         : $navbar-col;
$footer-text-col    : $text-col;
$footer-link-col    : $link-col;

// Default font
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Lora, Georgia, "Times New Roman", Times, serif;

// Background images
// Paths are relative to the main CSS file (assets/css/main.css)
// Unfortunately liquid tag can't be used here, therefore
// absolute link wouldn't work for Github project pages

// $page-img: "../../img/bgimage.png";
// $navbar-img: "../../img/bgimage.png";
$footer-img: "../img/footer-hex.png";
