<!DOCTYPE html>
<html>
  <head>
    <!-- Niklas Buschmann 2015 MIT <http://github.com/niklasbuschmann> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="{{ site.encoding }}">
    {% if page.author %}<meta name="author" content="{{ page.author }}">{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url}}">
    <link href="{{ "/main.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Gentium+Basic:300,500,700,300italic,500italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} &raquo; Feed" href="{{ "/feed.xml" | prepend: site.baseurl }}">
    {% if site.comments.disqus and page.comments %}<script src="//{{ site.comments.disqus }}.disqus.com/embed.js" async></script>{% endif %}
    {% if site.comments.isso and page.comments %}<script data-isso="http://{{ site.comments.isso }}" src="//{{ site.comments.isso }}/js/embed.min.js"></script>{% endif %}
  </head>
  <body>
    <header>
      <a id="banner" href="{{ site.repo_url }}/releases/latest">Download on GitHub</a>
      {% unless site.style.headline %}
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      {% if site.description %}<h2>{{ site.description }}</h2>{% endif %}
      {% endunless %}
      <nav>
        <ul>
          <li><a href="{{ site.baseurl }}/">Home</a></li>{% for node in site.pages %}{% if node.title %}<li><a href="{{ node.url | prepend: site.baseurl }}"{% if page.url == node.url %} id="selected"{% endif %}>{{ node.title }}</a></li>{% endif %}{% endfor %}
        </ul>
      </nav>
    </header>
    {% if site.style.headline %}
    <div><h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1></div>
    {% if site.description %}<div>{{ site.description }}</div>{% endif %}
    {% endif %}
{{ content }}
    <footer>
      <span>{% if site.license %}{{ site.license }}{% endif %}</span>
      <span><a href="https://github.com/niklasbuschmann/contrast" target="_blank">Contrast theme</a> by Niklas Buschmann</span>
      <span>&copy; {{ site.time | date: "%Y" }} <a href="{{ site.url }}">{% if page.author %}{{ page.author }}{% else %}{{site.author}}{% endif %}</a></span>
    </footer>
    {% include google-analytic.html %}
  </body>
</html>
